@tailwind base;
@tailwind components;
@tailwind utilities;

/* * start */
::-webkit-scrollbar {
    display: none;
}
::-moz-selection { /* Code for Firefox */
    background: #9370DB;
    color: white;
}
::selection {
    background: #9370DB;
    color: white;
}

.container {
    @apply mx-auto text-center;
}
/* * end */

/* navbar start */
.navbar-fixed {
    @apply bg-opacity-70 px-14 py-4 rounded-full;
    backdrop-filter: blur(3px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.navbar-unfixed {
    @apply px-12 rounded-full;
    transition: all 0.5s ease;
}
.qmark {
    @apply text-[#CB1DCD] opacity-0 group-hover:opacity-100;
}
/* navbar end */

/* project start */
.swiper-project {
    @apply w-[55%] h-[550px];
}
.swiper-slide-project {
    @apply flex justify-center items-center text-2xl rounded-3xl text-white bg-[#272932] shadow-2xl;
}
/* project end */

.swiper-about {
    @apply w-80 h-40 ;
}
.swiper-slide-about {
    @apply  p-4 bg-[#272932] text-white text-lg rounded-xl;
}
.swiper-slide-about-1 {
    @apply border-4 border-[#9370DB];
}
.swiper-slide-about-2 {
    @apply border-4 border-[#1AC5B0];
}
.swiper-slide-about-3 {
    @apply border-4 border-red-600;
}
.swiper-pagination-bullet-active {
    background-color: #9370DB !important;
}
.swiper-slide-about-mention {
    @apply font-semibold text-[#1AC5B0];
}